services:
  app:
    container_name: disparador-wh
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    build:
      context: .
      dockerfile: Dockerfile.${NODE_ENV:-development}
    ports:
      - ${PORT}:${PORT}
    env_file: .env
    networks:
      - disparador-wh-network

  db:
    container_name: disparador-wh-db
    image: postgres:17
    restart: unless-stopped
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_PORT_HOST=${DB_PORT}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - disparador-wh-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    container_name: disparador-wh-redis
    image: redis:7-alpine
    restart: unless-stopped
    command:
      [
        "redis-server",
        "--requirepass",
        "${REDIS_PASSWORD}",
        "--appendonly",
        "yes",
      ]
    env_file: .env
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_HOST=${REDIS_HOST}
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redisdata:/data
    networks:
      - disparador-wh-network

networks:
  disparador-wh-network:
    driver: bridge

volumes:
  dbdata:
  redisdata:
